@model Simulador2.Models.Alumnos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alumnos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApellidosP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApellidosP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApellidosM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApellidosM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rfc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rfc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumTelefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumTelefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Domicilio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colonia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idperfil">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
